<div class="row justify-content-center">
  <h2> Subnetting  </h2>
</div>
<div class = "row justify-content-center">
  <form action="/" method="post" class="form-group">
    <div class="col-xs-2"> 
      <label for="mask">Subnet mask</label>
      <input type="text" name="mask" class="form-group"> 
    </div>
    <div class="col-xs-2"> 
      <label for="ipaddress">IP  Address</label>
      <input type="text" name="ipaddress" class="form-group"> 
    </div>
 
    <div class="row justify-content-end">
      <input type="submit" class="btn btn-primary" class="form-group">
    </div>
  </form>
</div>

<div class = "row justify-content-center">
  <span><%= "La mascara de subred es /#{@binary_mask}" if @binary_mask  %> </span>  

</div>
